html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    object-fit: cover;
  }
  
  body {
    margin: 0;
  }
  
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .btn-reset {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1920px;
  }
  